body {
  margin: 0;
}

.widget-details .visible {
  display: block;
}

.widget-details .hidden {
  display: none;
}

.bg-image {
  background: url("/images/morpheus.jpg") no-repeat center center fixed;
  background-size: cover;
}

.row {
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
}

.col-left,
.col-right {
  width: 50%;
}
